# Automatización de descarga de datos de Banxico

Para facilitar la descarga de las distintas series de tiempo que Banxico pone a disposición del público, se creó una Interfaz de programación de aplicaciones (API en inglés) en la cual un usuario puede acceder a la información de manera remota con sólo tener la clave de las series que desea consultar y un IDE (entorno de desarrollo integrado) con un lenguaje de programación capaz de interactuar con la API de Banxico, en este caso Python.

Para conocer los identificadores de serie de Banxico, favor de consultar la siguiente [liga](https://www.banxico.org.mx/SieAPIRest/service/v1/doc/catalogoSeries).

Para utilizar la API de series de tiempo de Banxico, es necesario primero **generar un token de consulta**, el cual se puede obtener en la siguiente [liga](https://www.banxico.org.mx/SieAPIRest/service/v1/token). 

Este token se genera una sola vez y se usa cuantas veces se necesite, respetando los límites de consulta (10,000 consultas al día y/o 200 consultas en 5 minutos por token). 

Se pueden descargar varias series a la vez en la misma función, siempre que sean de la misma periodicidad

In [ ]:
#series de prueba: TIIE 28: SF43783; inflación anual: SP30578; salario mínimo índice real: SL11297
#probar con varias series (mensuales, tienen que tener la misma periodicidad):SF283 (TIIE 28), SP30578 (inflación),SL11297 (salario mínimo)

### Función para descargar series de Banxico

In [16]:
import requests
import numpy as np
import pandas as pd

#pegar aquí el token que se generó en la liga anterior
token_1='82908162e488cf6a1e53620862cd2d9fa1181ba5a78882ffeb5d29320a19a145'

def descargar_banxico(serie,fecha_inicio,fecha_fin,token,es_oportuno=False):
    #Donde: 
    # serie: el identificador o identificadores que tiene Banxico para cada serie de tiempo en su sistema de información
    # fecha_inicio: fecha aaaa-mm-dd en la que se quiere iniciar la consulta
    # fecha_fin: fecha aaaa-mm-dd en la que se quiere concluir la consulta
    # token: el token generado por la API de Banxico para acceder

    if es_oportuno==True:
        url='https://www.banxico.org.mx/SieAPIRest/service/v1/series/'+serie+'/datos/oportuno?token='+token
    else:
        url='https://www.banxico.org.mx/SieAPIRest/service/v1/series/'+serie+'/datos/'+fecha_inicio+'/'+fecha_fin+'?token='+token
    headers = {'Token':token}
    response = requests.get(url,headers=headers)
    status=response.status_code
    raw_data = response.json()
    T=len(serie.split(","))
    info={'fecha':pd.DataFrame(raw_data['bmx']['series'][0]['datos'])['fecha']}

    for i in range(T):
        titulo=raw_data['bmx']['series'][i]['titulo']
        
        data=raw_data['bmx']['series'][i]['datos']
        
        df=pd.DataFrame(data)
        df['dato'] = df['dato'].str.replace(',', '', regex=True).str.extract('(\d+\.\d+)')[0].astype(float)
        df['dato'] = df['dato'].apply(lambda x:float(x))
        info[titulo]=df['dato']
    info=pd.DataFrame(info)
    info.set_index('fecha',inplace=True)

    return info

descargar_banxico('SE44352,SE44353,SE44354','2016-01-01','2023-05-01',token_1)

,Balanza de pagos con base en MBP6 (a partir de 2002) Cuenta corriente (I - II),Balanza de pagos con base en MBP6 (a partir de 2002) Cuenta corriente (I - II) I. Crédito (A + B + C + D),Balanza de pagos con base en MBP6 (a partir de 2002) Cuenta corriente (I - II) I. Crédito (A + B + C + D) A. Bienes
fecha,,,
01/01/2016,10299.032902,102152.374212,85226.643325
01/04/2016,7663.171945,110999.118640,93839.409267
01/07/2016,5135.500972,112131.835451,95009.472954
01/10/2016,2952.818254,119246.585305,100234.997669
01/01/2017,13493.932067,113203.880661,94832.595120
01/04/2017,2900.919895,121579.188580,102755.670176
01/07/2017,5399.118166,121654.504468,101930.130170
01/10/2017,451.412784,133442.621809,110287.823834
01/01/2018,12013.139308,125944.805010,105384.981986
01/04/2018,4038.476167,136290.797805,113971.903988
01/07/2018,5860.898059,135730.321775,114083.889374
01/10/2018,4077.688449,140787.959390,117641.459404
01/01/2019,11850.919632,131817.854110,108174.871901
01/04/2019,4372.136008,143257.721116,119351.025289
01/07/2019,591.816800,139879.522855,116429.041266
01/10/2019,2330.947906,139705.903024,116984.634961
01/01/2020,7941.504692,131082.603712,108403.382988
01/04/2020,1555.748856,90925.919360,74397.422106
01/07/2020,15962.555987,129317.545190,111065.304460
01/10/2020,16056.297875,143243.444849,123456.713875
01/01/2021,10129.078019,132495.776876,111994.716397
01/04/2021,4930.704013,149110.344805,124497.913358
01/07/2021,4377.287575,150937.393073,123292.570527
01/10/2021,1232.774240,163022.986705,135489.341070
01/01/2022,12348.642894,158296.199619,132239.755049
01/04/2022,1891.604081,181155.806754,148893.147983
01/07/2022,6386.867338,181876.454989,149158.249691
01/10/2022,2581.541874,182813.717299,147932.189594
01/01/2023,20289.022297,173945.595170,141184.282849
01/04/2023,6247.074983,185921.571456,151043.708217

### Pruebas de la función de descarga

In [2]:
descargar_banxico('SP30578,SL11297','2016-01-01','2023-05-01',token_1)

,Índice Nacional de Precios al consumidor variación anual,"Salarios Mínimos General Índice Real, Dic2018=100"
fecha,,
01/01/2016,2.61,95.2753
01/02/2016,2.87,94.8599
01/03/2016,2.60,94.7204
01/04/2016,2.54,95.0213
01/05/2016,2.60,95.4469
...,...,...
01/01/2023,7.91,189.9359
01/02/2023,7.62,188.8828
01/03/2023,6.85,188.3781
01/04/2023,6.25,188.4163
01/05/2023,5.84,188.8267

In [12]:
descargar_banxico('SL11297','2016-01-01','2023-05-01',token_1)

            Salarios Mínimos General Índice Real, Dic2018=100
fecha
01/01/2016                                            95.2753
01/02/2016                                            94.8599
01/03/2016                                            94.7204
01/04/2016                                            95.0213
01/05/2016                                            95.4469
...                                                       ...
01/01/2023                                           189.9359
01/02/2023                                           188.8828
01/03/2023                                           188.3781
01/04/2023                                           188.4163
01/05/2023                                           188.8267

[89 rows x 1 columns]